body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    min-height: 100vh; 
    overflow-y: auto; 
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%; /* Make the header full width */
}
.bio {
    font-style: arial; /* Example style for the short bio */
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

#name-title {
    display: inline-block; /* Keep the title inline-block */
    position: relative; /* Required for the absolute positioning of the description */
}

#description {
    display: none;
    position: absolute;
    top: 100%; /* Position below the title */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center */
    background-color: #fff;
    color: #000; /* Ensure text color is black */
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#name-title:hover #description {
    display: block;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#project1 {
    background-color: #aaffaa; 
}

#project2 {
    background-color: #ffaaaa; 
}

#project3 {
    background-color: #78e6fa; 
}

#project4 {
    background-color: hsl(271, 93%, 73%); 
}

.project:hover {
    transform: scale(1.05);
}

.preview {
    max-width: 150px;
    margin-right: 20px;
}

.preview img {
    width: 100%;
    height: auto;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

/* Add margin to the last project to create space for the footer */
.project:last-child {
    margin-bottom: 70px; /* Adjust as needed based on the height of your footer */
}
